.die {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 0.75s linear;
  }
  
  .die-1::before {
    content: '⚀';
    font-size: 8REM;
  }
  
  .die-2::before {
    content: '⚁';
    font-size: 8REM;
  }

  .die-3::before {
    content: '⚂';
    font-size: 8REM;
  }

  .die-4::before {
    content: '⚃';
    font-size: 8REM;
  }

  .die-5::before {
    content: '⚄';
    font-size: 8REM;
  }

  .die-6::before {
    content: '⚅';
    font-size: 8REM;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(1080deg); }
  }
  