.die {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: roll .4s ease-in-out;
    font-size: 8REM;
  }
  
  .die-1::before {content: '⚀';}
  .die-2::before {content: '⚁';}
  .die-3::before {content: '⚂';}
  .die-4::before {content: '⚃';}
  .die-5::before {content: '⚄';}
  .die-6::before {content: '⚅';}
  
  @keyframes roll {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(720deg); }
  }
  